.bg-container{
    height: 100vh;
    background-color: black;
    color: white;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 80px;
}

.heading{
    
    text-decoration: underline;
    text-align: center;
}

.input{
    height: 4vh;
    border-radius: 20px;
}